#main div.description,
#footer div {
	text-align: left;
	margin: auto;
}
#main div.description * {
	margin: 0 8px;
}
#main div.description,
#footer div {
	width: 636px;
}
#main div.description img, #map {
	border: 8px solid #BBB;
}
#main div.description img.float-left {
	float: left;
}
#main div.description img.float-right {
	float: right;
}
#more p {
	margin: 24pt 0 0 30px;
	float: left;
	width: 200px;
	line-height: 60px;
	height: 64px;
	padding-left: 68px;
}
#more  p  a,
#more  p  a:visited {
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #333;
}

#more  p  a:hover {
	color: #999;
}

#more:hover  p  a {
	border-bottom: 1px dotted #FFF;
}

#more  p.facebook {
	background: transparent url(/web/20180901032617im_/http://see-you-there.co.uk/img/facebook.png) left no-repeat;
}

#more p.gallery {
	background: transparent url(/web/20180901032617im_/http://see-you-there.co.uk/img/gallery.png) left no-repeat;
}

#more p.home {
	background: transparent url(/web/20180901032617im_/http://see-you-there.co.uk/img/home.png) left no-repeat;
}

#footer  #last {
	clear: left;
	text-align: center;
	font-size: 10pt;
	padding: 24pt;
	color: #777;
}

#last  a,
#last  a:visited {
	text-decoration: none;
	color: #555;
	border-bottom: 1px dotted #333;
}

#last:hover a {
	color: #333;
	border-bottom: 1px dotted #777;
}

#main div.description h3 {
	padding-top: 24pt;
}

#where ul {
	margin-left: 4px;
}
/*
     FILE ARCHIVED ON 03:26:17 Sep 01, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:17:55 Apr 15, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 27.846 (3)
  esindex: 0.01
  captures_list: 56.059
  CDXLines.iter: 13.252 (3)
  PetaboxLoader3.datanode: 49.278 (5)
  exclusion.robots: 0.53
  exclusion.robots.policy: 0.508
  RedisCDXSource: 1.78
  PetaboxLoader3.resolve: 172.417 (2)
  load_resource: 238.533
*/