#trip-advisor, .trip-advisor, div.TA_cdsscrollingravenarrow {
  background-color: #F5F0FF;
}
#trip-advisor {
  padding-top: 12pt;
  text-align: center;
}
#trip-advisor > div, #trip-advisor > iframe {
  display: inline-block;
  margin: auto;
}
div.TA_cdsscrollingravenarrow {
  text-align: center;
}
div.TA_cdsscrollingravenarrow > div {
  margin: auto !important;
}
/*
     FILE ARCHIVED ON 03:59:19 Sep 01, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:11:58 Apr 15, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 23.413 (3)
  esindex: 0.008
  captures_list: 39.062
  CDXLines.iter: 11.221 (3)
  PetaboxLoader3.datanode: 146.157 (5)
  exclusion.robots: 0.179
  exclusion.robots.policy: 0.167
  RedisCDXSource: 1.9
  PetaboxLoader3.resolve: 37.24 (2)
  load_resource: 236.712
*/